.container-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
  background-color: #ee1c25;

  .banner_container-home {
    width: 100%;
    margin: 0;
    padding: 0;
  }

    .cards-grid_container-home {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
      gap: 2rem; 
      width: 99%;
      padding: 2rem; // Separación interna
      margin: 1rem;
      background-color: #ffffff;
      box-sizing: border-box;
      border-radius: 7px;
    }
  
}


@media (max-width: 768px) {
  .content_home {
    width: 95%;
    .cards_grid {
      gap: 1rem;
    }
  }
}

